<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>particle_ribbon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{447,635},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_ribbon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,22}</string>
                <key>spriteSourceSize</key>
                <string>{11,22}</string>
                <key>textureRect</key>
                <string>{{885,610},{11,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>particle_ribbon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{417,635},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_ribbon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{417,655},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_ribbon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{862,610},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_ribbon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{862,632},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_big_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{84,75}</string>
                <key>textureRect</key>
                <string>{{645,570},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,99}</string>
                <key>spriteSourceSize</key>
                <string>{129,99}</string>
                <key>textureRect</key>
                <string>{{731,564},{129,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{862,564},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_cup_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,58}</string>
                <key>spriteSourceSize</key>
                <string>{159,58}</string>
                <key>textureRect</key>
                <string>{{190,635},{159,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_cup_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,61}</string>
                <key>spriteSourceSize</key>
                <string>{187,61}</string>
                <key>textureRect</key>
                <string>{{1,635},{187,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_cup_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,61}</string>
                <key>spriteSourceSize</key>
                <string>{187,61}</string>
                <key>textureRect</key>
                <string>{{725,501},{187,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,207}</string>
                <key>spriteSourceSize</key>
                <string>{642,207}</string>
                <key>textureRect</key>
                <string>{{1,217},{642,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_flag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,207}</string>
                <key>spriteSourceSize</key>
                <string>{642,207}</string>
                <key>textureRect</key>
                <string>{{1,426},{642,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_glow_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,214}</string>
                <key>spriteSourceSize</key>
                <string>{718,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{718,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_glow_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,197}</string>
                <key>spriteSourceSize</key>
                <string>{498,197}</string>
                <key>textureRect</key>
                <string>{{725,1},{498,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settlement_icon_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{351,635},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settlement_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,78}</string>
                <key>spriteSourceSize</key>
                <string>{351,78}</string>
                <key>textureRect</key>
                <string>{{645,217},{351,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settlement_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,52}</string>
                <key>spriteSourceSize</key>
                <string>{10,52}</string>
                <key>textureRect</key>
                <string>{{914,501},{10,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SettlementForm.webp</string>
            <key>size</key>
            <string>{925,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84902d6c0c0e3d0a398473eb8d1fc92:02fc354987c98760127df17ba4977c9e:ea420a96130db62fdf81f005b828c26a$</string>
            <key>textureFileName</key>
            <string>SettlementForm.webp</string>
        </dict>
    </dict>
</plist>
